.inventory-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1vh;
    margin: 2vh;
    border-radius: .65rem;
    overflow: auto;
    background-color: #f8f9fa;
    position: fixed;
    width: 47.5%;
}